:root {
    --theme: #3e8ed0;
    --text-theme: rgb(252, 194, 4);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Images/pexels-pixabay-53594.jpg);
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

.hero-body {
    padding: 10px;
    border-style: double ;
    border-color: black;
    border-width: 10px;
}

.city {
    position: relative;
    border: none;
    padding: 5px 6px;
    border-radius: 20px;
}

.button {
    border: none;
    position: absolute;
    padding: 0px 5px 0px 5px;
    height: 20px;
    top: 23px;
    left: 155px;
    border-radius: 20px;
}

button:hover {
    background-color: aqua;
}

.notification {
    background-color: var(--theme);
    color: white;
}

#main-page {
    display: none;
}

#cityName, #cityName2 {
    color: black;
}

.today {
    color: var(--text-theme);
    font-size: 28px;
}

.dayLength-container {

    display: flex;
    justify-content: center;

}

.dayLength {
    background-color: var(--theme);
    border-bottom: solid;
    border-color: black;
    width: 50%;
    color: white;
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--text-theme);
}

.sunset {
    display: flex;
    justify-content: start;
}

.sunrise, .sunset { 
    /* background-color: var(--theme); */
    color: var(--text-theme);
}

.sunrise-time, .sunset-time, .first-light, .last-light {
    display: flex;
    margin-left: 15px;
}

img.sunset {
    background-image: url(../Images/images.jpeg);
    background-position: center;
    border-radius: 85px;
}

img.sunrise {
    background-image: url(../Images/istockphoto-531253600-612x612.jpg);
    background-position: center;
    border-radius: 85px;
}

strong {
    color: white;
    font-size: 20px;
}





/* For Tablets */
@media only screen and (min-width: 600px) {
    
}
/*  For Desktop */
@media screen and (min-width: 768px){
    
}


